body {
}


/*     Phần content scroll */
    #styleSelector .style-cont {
        height: calc(100vh - 440px);  
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 6px;
    }



.pcoded-inner-navbar::-webkit-scrollbar {
    width: 6px;
}

.pcoded-inner-navbar::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.25);
    border-radius: 4px;
}

.pcoded-inner-navbar::-webkit-scrollbar-track {
    background: transparent;
}
